html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #797979;
}

.header-row {
  padding-top: 80px;
}

@media (max-width: 720px) {
  .header-row {
    padding-top: 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #05364d;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

p {
  color: #5b6d75;
}

.overline {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}

/* section */

.section {
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.section-header .overline {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}

.section-header .title {
  font-weight: 700;
}

.section-header {
  margin-bottom: 40px;
}

/* button */

.btn {
  border-radius: 18px;
}

.btn-lg {
  border-radius: 23px;
}

/* profile card */

.profile-card {
  max-width: 280px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  padding: 0px !important;
  border-radius: 10px;
}

.profile-card .bg {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  max-width: 100%;
  display: block;
  height: auto;
  transition: all linear 0.25s;
}

.profile-card .profile-name {
  text-transform: uppercase;
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
}

.profile-card .profile-icons {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.profile-icons .icon {
  color: rgba(255, 255, 255, 0.82);
  transition: all ease-in-out 0.15s;
  font-size: 20px;
  margin-left: 12px;
}

.profile-icons .icon:hover {
  color: #fff;
  font-size: 20px;
  margin-left: 12px;
}

.profile-card .profile-username {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: rgba(255, 255, 255, 0.82);
  transition: all linear 0.25s;
}

.profile-card .profile-icons .fa {
  margin: 5px;
}

/* navbar */

nav {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.navbar-toggler {
  border: none;
}

.navbar.scrolled {
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.navbar {
  transition: background-color 200ms linear;
}

/* jumbotron */

.jumbotron {
  border-radius: 50px;
  padding: 60px;
  padding-bottom: 0px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.05)
  );
  overflow: hidden;
  background-color: #f0f8ff;
}

@media (max-width: 576px){
  .jumbotron {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.rounded-50 {
  border-radius: 50px;
}

/* showcase item */

.showcase-item {
  max-width: 500px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.showcase-item .icon {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  height: 48px;
  width: 48px;
  margin-bottom: 1.2rem;
}

.showcase-item .title {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  color: #05364d;
}

.showcase-item .desc {
  color: #5b6d75;
}

/* footer */
footer p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 700;
  margin-bottom: 0;
}

/* social icons */
.social {
  margin: 0;
  padding: 0;
}

.social ul {
  margin: 0;
  padding: 0px;
}

.social ul li:first-child {
  margin-left: 0px;
}

.social ul li:last-child {
  margin-right: 0px;
}

.social ul li {
  margin: 5px;
  list-style: none outside none;
  display: inline-block;
}

.social i {
  width: 40px;
  height: 40px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social i:hover {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

/* animated burger menu icon */

.hamburger-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-icon span {
  background: #000; 
}

.hamburger-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.hamburger-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/* utility */

span.anchor{
  display: block;
  position: relative;
  top: -56px; 
  visibility: hidden;
}

span.anchor2{
  display: block;
  position: relative;
  top: -96px; 
  visibility: hidden;
}